* {
    padding: 0px;
    margin: 0px;
}

h1 {
    text-transform: capitalize;
    text-align: center;
    padding: 30px;
}

.item {
    background-color: brown;
    padding: 30px;
    width: 40px;
    height: 30px;
    text-align: center;
    border: 5px;
    border-radius: 5px;
    margin: 5px;
    font-size: 20px;
}

.a {
    height: 100px;
    width: 150px;
}

.c {
    height: 150px;
    width: 100px;
}

.d {
    height: 90px;
    width: 90px;
}

.e {
    width: 200px;
}

/*"justify-content" is a CSS property used to control the horizontal alignment of items within a container. It helps you distribute the space between and around items in a line or row. You can use it to make items align to the left, right, center, or space evenly between them.*/
.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly;
}