* {
    padding: 0px;
    margin: 0px;
}

h1 {
    padding-bottom: 30px;
}

.item {
    text-transform: uppercase;
}

.header {
    background-color: blue;
}

.menu {
    background-color: aquamarine;
}

.sidebar {
    background-color: rgb(155, 152, 149);
}

.footer {
    background-color: bisque;
}


/* Grid Styling*/
.container {
    display: grid;
    height: 100%;
    grid-template-rows: 50px 20px auto 40px;
    grid-template-areas:
        ". h h h h h h h h h h ."
        "m m m m m m m m m m m m"
        "s s s c c c c c c c c c"
        "f f f f f f f f f f f f"
}

.header {
    grid-area: h;
}

.menu {
    grid-area: m;
}

.sidebar {
    grid-area: s;
}

.content {
    grid-area: c;
}

.footer {
    grid-area: f;
}



.content {
    background-color: rgb(225, 225, 234);
    padding: 15px;
}